<div id="login_box">
  <h1>Edit your information</h1>
</div>
<% content_for :left do %>
  Please register with your e-mail and a password of choice.
  After clicking the Sign-Up button, we will send you an e-mail to activate your account.
  After activation, you're good to go! All you need to do is sign in and start adding content.
<% end %>



<%= render 'form' %>
