<h1>Add New Company</h1>

<% content_for :left do %>
  Please fill in the company data accordingly to the fields provided.
  When describing the company, please use a third person tone and avoid using marketing language.
  We wish to keep the database as neutral as possible and thus as useful for everyone as possible.
<%  end %>


<%= render :partial => 'form' %>